* {
    box-sizing:border-box;
}

.contenedor__tareas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(98, 45, 222, 0.3);
    width: 400px;
    min-height: 60px;
    margin: 15px;
    padding: 1px 20px 1px 20px;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
}

.completada {
    text-decoration:line-through;
    background-color: rgba(33, 192, 139, 0.3);
}

/* .contenedor__tareas:nth-child(3n+1) {
    background-color: rgba(98, 45, 200, 0.3);
}

.contenedor__tareas:nth-child(3n+2) {
    background-color: rgba(98, 45, 150, 0.3);
}

.contenedor__tareas:nth-child(3n+3) {
    background-color: rgba(98, 45, 100, 0.3);
} */


.texto__tareas {
    max-width: 250px;
    text-align: justify;
    cursor: pointer;
}

.icono__tareas {
    width: 25px;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icono {
    width: 25px;
    height: 25px;
    color: #fff;
}

.icono:hover {
    color: #000000;
}
